{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Įvykio redagavimas</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ivykis') }}">
            Grįžti į sąrašą
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
