{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Įvykio sukūrimas</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ivykis') }}">
            Grįžti į sąrašą
        </a>
    </li>
</ul>
{% endblock %}
